<div class="container">
  <%@cars.each do |car|%>
    <%if @user.id == current_user.id%>
      <%= image_tag car.image_url, width: 400, height: 300%>
      <%=car.year%>
      <%=car.model%>
      <%=car.brand%>
      <%=car.description%>
      <% end %>
  <% end %>
</div>
<div class="container">
  <%@user.rentals.each do |rental|%>
    <%= image_tag rental.car.image_url, width: 400, height: 300%>
    <%=rental.start_date%>
    <%=rental.end_date%>
  <% end%>
</div>
