<%@user.rentals.each do |rental|%>
  <%=rental.car.image_url%>
  <%=rental.car.year%>
  <%=rental.car.model%>
  <%=rental.car.brand%>
  <%= rental.car.description%>
<% end %>

<h1>oioioioioioioioioipe <%= current_user.id %></h1>


<%@user.rentals.each do |rental|%>
  <%=rental.car.image_url%>
  <%=rental.start_date%>
  <%=rental.end_date%>
  <%=rental.price%>
<% end%>
