<div class="container">
  <%= simple_form_for [@car, @rental] do |f| %>
    <%= f.input :start_date %>
    <%= f.input :end_date %>
    <%= f.submit 'Rent car' %>
  <% end %>
</div>

<%= link_to "See other cars", cars_path ,class:"btn btn-primary my-2"%>
