<div class="d-flex justify-content-center align-items-center gap-5">
  <div>
    <ul class="list-group list-unstyled gap-1 ">
      <% @cars.each do |car| %>
        <% if car.rented == false %>
          <li><a href="<%=car_path(car) %>" class="list-group-item text-decoration-none" ><%=car.year %> - <%=car.brand %> - <%=car.model%> - $<%= car.price %></a></li>
        <% end %>
      <% end %>
      </ul>
  </div>
</div>
