<div class="bg-black">
  <div class="container py-3">
    <div class="row justify-content-center">
      <% @cars.each do |car| %>
        <div class="card mx-3 my-3 p-0 border-0 rounded rounded-4" style="width: 19rem;">
          <%= image_tag car.image_url, class: "card-img-top rounded-bottom rounded-4", width: 286, height: 180 %>
          <div class="card-body px-0 pt-3">
              <div class="card-title text-center"><h5><strong><%= car.brand %> <%= car.model %> - <%= car.year %></strong></h5></div>
              <div class="card-text text-center my-3"><strong>$<%= car.price.to_i %></strong>/day</div>
              <p class="card-text text-center my-4 pb-5"><%= car.description %></p>
              <a href="<%=car_path(car) %>" class="section2_btn btn55 color-link text-center text-decoration-none position-absolute bottom-0 start-50 translate-middle-x my-3 mb-3 mr-2 w-75"><strong>See details</strong></a>
          </div>
        </div>
      <% end %>
    </div>
  </div>
</div>
