<div class="container text-white my-3">
  <h1>Add a car</h1>
  <%= simple_form_for @car do |f| %>
    <%= f.input :brand %>
    <%= f.input :model %>
    <%= f.input :year %>
    <%= f.input :description %>
    <%= f.input :price, label:"Daily Price" %>
    <%= f.input :image_url %>
    <%= f.submit class: "btn btn-primary bg-white text-black border-0 my-3 rounded-3" %>
  <% end %>
</div>
