<div class="container">
  <h1>Add a car</h1>
  <%= simple_form_for @car do |f| %>
    <%= f.input :model %>
    <%= f.input :brand %>
    <%= f.input :description %>
    <%= f.input :year %>
    <%= f.input :image_url %>

    <%= f.submit class: "btn btn-primary" %>
  <% end %>
</div>

 <%= link_to "See other cars", cars_path ,class:"btn btn-primary my-2"%>
