<div class="container my-4">
  <div class="card mb-3" style="max-width: 100%">
    <div class="row g-0">
      <div class="col-md-4">
        <img src=<%=@car.image_url%> class="rounded-start img-fluid" alt="...">
      </div>
      <div class="col-md-8 link-show">
        <div class="card-body">
          <div>
            <h5 class="card-title"><%= @car.year %> <%= @car.brand %> <%= @car.model %></h5>
            <p class="card-text">Description: <%= @car.description%></p>
            <p class="card-text">$<%= @car.price %></p>
          </div>
          <div>
            <%= link_to "See other cars", cars_path ,class:"section2_btn btn55 link-show-others my-2 text-decoration-none color-link"%>
            <%= link_to "Edit", edit_car_path(@car) ,class:"btn btn-warning text-white rounded-pill my-2 position-absolute top-100 start-100 translate-middle" if policy(@car).edit?%>
            <%= link_to "X", car_path(@car), data: {turbo_method: :delete, turbo_confirm: "Are you sure?"} ,class:"btn btn-danger position-absolute top-0 start-100 translate-middle text-white rounded-pill my-2" if policy(@car).destroy?%>
            <% if current_user != @car.user%>
              <%= link_to "Rent car", new_car_rental_path(@car) ,class:"section2_btn link-show-rent btn55  my-2 text-decoration-none color-link"%>
            <% end %>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="review">
    <h3 class="text-center text-white">My Reviews</h3>
    <ul class="list-group">
      <% @car.reviews.each do |review|%>
      <li class="list-group-item"><%= review.content %></li>
      <% end %>
    </ul>
  </div>
</div>
